<%# locals: (last_backup_at: nil) %>
<% last_backup_at ||= Rails.cache.read("last_backup_at") %>

<span id="last_backup_time" class="text-xs text-gray-500" title="칔ltimo Backup">
  <% if last_backup_at %>
    <% diff = Time.current - last_backup_at %>
    <% 
      emoji = if diff < 3.minutes
        "游"
      elsif diff < 6.minutes
        "游뗵"
      elsif diff < 9.minutes
        "游"
      else
        "游땯"
      end
    %>

    <% if diff < 60 %>
      <%= "segundos atr치s #{emoji}" %>
    <% elsif diff < 1.hour %>
      <% minutes = (diff / 1.minute).to_i %>
      <%= "#{minutes} #{'minuto'.pluralize(minutes, :pt)} atr치s #{emoji}" %>
    <% elsif diff < 1.day %>
      <% hours = (diff / 1.hour).to_i %>
      <%= "#{hours} #{'hora'.pluralize(hours, :pt)} atr치s #{emoji}" %>
    <% elsif diff <= 10.days %>
      <% days = (diff / 1.day).to_i %>
      <%= "#{days} #{'dia'.pluralize(days, :pt)} #{emoji}" %>
    <% else %>
      h치 muito tempo :( <%= emoji %>
    <% end %>
  <% else %>
    <% if Current.family.google_drive_config.blank? %>
      Backup n칚o configurado
    <% else %>
      Nenhum backup
    <% end %>
  <% end %>
</span>
